<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>jkxystudents</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/user/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InputStuInfoServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.InputStuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputStuInfoServlet</servlet-name>
    <url-pattern>/student/InputStuInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAllStuServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.QueryAllStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllStuServlet</servlet-name>
    <url-pattern>/student/QueryAllStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyOneStuServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.ModifyOneStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOneStuServlet</servlet-name>
    <url-pattern>/student/ModifyOneStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyOneStuInfoServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.ModifyOneStuInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyOneStuInfoServlet</servlet-name>
    <url-pattern>/student/ModifyOneStuInfoServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeleteStuServlet</servlet-name>
    <servlet-class>cn.lxtkj.servlet.DeleteStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStuServlet</servlet-name>
    <url-pattern>/student/DeleteStuServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>